<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">
      org.hibernate.dialect.PostgreSQLDialect
    </property>
    <property name="hibernate.connection.driver_class">
      org.postgresql.Driver
    </property>
    
    <property name="hibernate.connection.url">
      jdbc:postgresql://localhost:5432/emsDB
    </property>
    <property name="hibernate.connection.username">
      postgres
    </property>
    <property name="hibernate.connection.password">
      postgres
    </property>
    <property name="hibernate.hbm2ddl.import_files">
      /home/ecc/Desktop/Training/09-26/ems/infra/build-tools/src/main/resources/20160920_01.sql 
    </property>
    <property name="hibernate.hbm2ddl.auto">
      create
    </property>
    
    <!-- List of XML mapping files -->
    <mapping class="com.ecc.ems.Employee"/>
  </session-factory>
</hibernate-configuration>

